*{
    malgin: 0
}

.contenedor{
    background-color: lightgoldenrodyellow;
    width: 80vw;
    height: 40vw;
    text-align: center;
}

p{
    font/size: xx-large;
    padding: 8%
}

button{
    fron-size: xx-large;
    padding: 0.75en;
}

#yesBtn{
 transform:   translate(-100%,0);
}

#noBtn{
   position: absolute;
}